<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Protect Your Self</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="wave-container">
    
    
    <mat-vertical-stepper class="ion-padding">
      
      <mat-step>
        <ng-template matStepLabel>First</ng-template>
        <div>
          <img src="assets/wash.png">
          <ion-button shape="round" size="small" class="ion-text-capitalize">Wash Your hand frequently</ion-button>

        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Second</ng-template>
        <div>
          <img src="assets/check.svg">
          <ion-button shape="round" size="small" class="ion-text-capitalize">Check your Tempreture</ion-button>

        </div>
      </mat-step>

      <mat-step>
        <div>
          <img src="assets/thanks.svg">
        </div>
        <ng-template matStepLabel>Last</ng-template>
        <div>
          <ion-button color="warning" href="/home" shape="round" size="small" class="ion-text-capitalize">Congrats, Done</ion-button>
        </div>
      </mat-step>

    </mat-vertical-stepper>

    

    

    </div>

    
  
    

</ion-content>




